{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}People{% endblock %}
{% block content %}
  <h1>People</h1>
  <div id="people-list">
    {% for user in users %}
      <div class="user">
        {# photo thumbnail #}  {# default image #} 
        <a href="{{ user.get_absolute_url }}">
          {% if user.profile.photo %} 
          <img src="{% thumbnail user.profile.photo 180x180 %}">
          {% else %}
          <img src={% static "img/photo.webp" %}>
          {% endif %}
        </a>
        <div class="info">
          <a href="{{ user.get_absolute_url }}" class="title">
            {{ user.get_full_name }}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}